extends layout

block hero-unit
  .jumbotron
    .container
      
block content
  .container
    .row
      .col-md-6
        h3 서비스 목적
        p 본 서비스는 웹프로그래밍 수업의 Project를 만들어보는 것입니다. 
      .col-md-6
        h3 주요 기능
        ul
          li 회원가입/로그인/탈퇴
          li 여행 가이드 - 여행 상품 등록/수정/삭제
          li 관리자 - 사용자 관리
          li 여행지 검색, 좋아요, 댓글

